.button
    margin: 0 0 10px 0
    width: 60px
    height: 60px
    border-radius: 5px
    border: none
    box-sizing: border-box
    background-color: #292929
    font-family: Helvetica
    font-weight: bold
    font-size: 16px
    color: #ffee00
    outline: none

.button_active
    opacity: 1
    cursor: pointer
    transition: background-color .35s, color .35s

.button_unactive
    opacity: .3
    cursor: auto

.button_active:hover
    transition: background-color .35s, color .35s
    background-color: #ffee00
    color: #292929

.button:last-of-type
    margin: 0 0 30px 0

@media (max-width: 400px)
    .button
        width: 40px
        height: 40px

    .button:last-of-type
        margin-bottom: 15px