@import './__cell/PlayArea__cell'

.PlayArea
    margin-right: 20px
    width: 300px
    height: 600px
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
    gap: 3px 3px
    // grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." 

@media (max-width: 500px)
    .PlayArea
        width: 220px
        height: 440px