@import './__cell/PlayArea__cell'

.PlayArea
    width: 400px
    height: 800px
    margin: 0 auto
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
    gap: 6px 6px
    // grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." 