.App {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  background: linear-gradient(140deg, rgba(6,0,116,1) 0%, rgba(74,0,126,1) 100%);
  align-items: center;
  justify-content: center;
}